/* Overlay */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(15, 23, 42, 0.411);
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease;
}

/* Modal Card */
.modal-card {
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 18px;
    padding: 5px;
    position: relative;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.514);
    animation: scaleIn 0.35s ease;
}

/* Close Button */
.modal-close {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    left: 50%;
    top: -18px;
    transform: translateX(-50%);
    border: none;
    color: var(--danger);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    background: white;
}

.modal-close:hover {
    color: red;
    font-size: 15px;
    transform: translateX(-50%) rotate(90deg);
    box-shadow: 2px 2px 10px #c2aeae;
}

/* Body */
.modal-body {
    margin-top: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9) translateY(20px);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

/* Mobile */
@media (max-width: 640px) {
    .modal-card {
        margin: 8px;
        padding: 5px;
    }
}