.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page {
    margin-top: 3rem;
    max-width: 400px;
    min-width: 400px;
    border: 1px solid #999;
    border-radius: 14px;
}

@media (max-width:600px) {
    .login-page {
        margin-top: 3rem;
        max-width: 100%;
        min-width: 100%;
        border: 1px solid #999;
        border-radius: 14px;
    }
}